<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723549755705-cb6u7vdet2b3uib65ebcss82p4rq90pu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723549755705-cb6u7vdet2b3uib65ebcss82p4rq90pu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723549755705-fk782lpl9hlufi0ua40pl3lcp8c84ook.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB59GSfXOVuHINHlqeZAXcwaL0fdQ0PJ08</string>
	<key>GCM_SENDER_ID</key>
	<string>723549755705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduationProject</string>
	<key>PROJECT_ID</key>
	<string>final-project-13ea4</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-13ea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723549755705:ios:0eece0326bc94ecb1530e8</string>
</dict>
</plist>